:root {
    --light-color: #fafaef;
    --medium-color: #9197ae;
    --dark-color: #273043;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
}

h2 {
    font-size: 36px;
}

/* Header */
header {
    background-color: var(--dark-color);
    width: 100%;
    height: 75px;
}

.header-wrap {
    width: 768px;
    margin: 0 auto;
}

h1 {
    display: inline;
    width: 320px;
    font-size: 50px;
    text-align: left;
    padding: 50px 0px;
    color: var(--light-color);
    line-height: 75px;
}

nav {
    float: right;
    align-items: center;
    height: 100%; 
}

nav li {
    justify-content: center;
    display: inline-block;
}

nav a {
    display: block;
    text-decoration: none;
    color: var(--light-color);
    font-size: 20px;
    padding: 10px;
    justify-content: center;
    line-height: 50px;
}

/* Portfolio styling */
.portfolio {
    width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.portfolio h2 {
    width: 100%;
    margin: 15px 0;
}

.card {
    width: 48%;
    margin-top: 30px;
    position: relative;
}

.wide {
    width: 100%;
    margin-top: 0;
}

.card h3 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 36px;
    display: none;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* About me section styles */
.about {
    width: 768px;
    margin: auto;
    margin-top: 50px;
    align-items: center;
}

.about img {
    height: 300px;
    display: inline;
}

.container {
    width: 60%;
    float: right;
}

.container h2 {
    margin-bottom: 10px;
}

.container p {
    line-height: 1.2;
}

/* Contact section styles */
.contact {
    width: 768px;
    margin: auto;
    margin-top: 50px;
    height: 75px;
    margin-bottom: 20px;
}

.contact h2 {

    margin-right: 50px;
    margin-bottom: 35px;
}

.contact a {
    text-decoration: none;
    color: var(--light-color);
    background-color: var(--dark-color);
    padding: 20px 30px;
    margin-right: 15px;
    box-sizing: border-box;
}

/* Footer styles */
footer {
    height: 45px;
    background-color: var(--dark-color);
    color: var(--light-color);
    margin-top: 75px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

/* When HOVERING the portfolio images */
.card:hover img {
    opacity: 0.5;
}

.card:hover h3 {
    display: initial;
    opacity: 1;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    header {
        height: 150px;
    }
    header h1 {
        width: 768px;
    }
    nav {
        float: none;
    }
}